<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/common/header :: main">
    这部分是html头
</head>

<body>
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu" th:include="/common/aside-menu :: admin" th:with="active='a1|b1'">
                这部分内容有 /common/side-menu 中 th:fragment="admin" 部分 替换
            </ul>

        </div>
    </nav>


    <div id="page-wrapper" class="gray-bg">
        <!-- 导航条 -->
        <div class="row border-bottom" th:include="/common/top-menu :: main">
            这部分内容有 /common/top-menu 中 th:fragment="main" 部分 替换
        </div>

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2></h2>
                <ol class="breadcrumb">
                    <li><a href="../admin">首页</a></li>

                </ol>
            </div>
            <div class="col-lg-2"></div>
        </div>

        <!-- 主要内容部分 -->
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12" style="background: #fff; padding: 0">
                    <img class="index-pic" src="/img/login-bg2.jpg"/>
                </div>
            </div>
        </div>

    </div>
</div>


<div th:include="/common/footer :: js">
    这部分是引入js代码
</div>

</body>
</html>
