<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/common/header :: main">
    这部分是html头
</head>

<body>
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu" th:include="/common/aside-menu :: admin" th:with="active='a1|b1'">
                这部分内容有 /common/side-menu 中 th:fragment="admin" 部分 替换
            </ul>

        </div>
    </nav>


    <div id="page-wrapper" class="gray-bg">
        <!-- 导航条 -->
        <div class="row border-bottom" th:include="/common/top-menu :: main">
            这部分内容有 /common/top-menu 中 th:fragment="main" 部分 替换
        </div>

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2></h2>
                <ol class="breadcrumb">
                    <li><a href="../index.html">首页</a></li>
                    <li><a>xx管理</a></li>
                    <li class="active"><strong>添加xx</strong></li>
                </ol>
            </div>
            <div class="col-lg-2"></div>
        </div>

        <!-- 主要内容部分 -->
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row"><div class="col-lg-12"><div class="ibox">

                <div class="ibox-content">
                    <form id="from-id" method="get" class="form-horizontal validation">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">欢迎来到管理员首页</label>
                            <!-- 特别注意thymeleaf模版 末尾必须有 / 或者 </xx> 结尾 -->

                        </div>

                    </form>
                </div>

            </div></div></div>
        </div>

    </div>
</div>


<div th:include="/common/footer :: js">
    这部分是引入js代码
</div>

</body>
</html>
