<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/common/header :: main">
    这部分是html头
</head>
<style type="text/css" media="screen">
    .main{
        margin-top: 10px;
    }
    .top{
        padding: 10px;
    }
    .top h4{
        display: inline-block;
        width:120px;
    }
    .top input{
        float: right;
    }
    ol {
        list-style-type: decimal;
    }
    .form-control{
        display: inline-block;
        width: 240px;
    }
    .form-inline li{
        margin-bottom: 10px;
    }
    .remove-item,.add-item{
        height: 30px;
        line-height: 30px;
        margin-left: 10px;
        cursor: pointer;
    }
    .add-step{
        height: 40px;
        line-height: 40px;
        margin: 10px 0 0 10px;
        cursor: pointer;
    }
    p.select.form-group{
        padding-left: 40px;
        margin-top: 10px;
    }
</style>


<body>
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu" th:include="/common/eside-menu :: employee" th:with="active='e1|d1'">
                这部分内容有 /common/side-menu 中 th:fragment="admin" 部分 替换
            </ul>

        </div>
    </nav>


    <div id="page-wrapper" class="gray-bg">
        <!-- 导航条 -->
        <div class="row border-bottom" th:include="/common/top-menu :: main">
            这部分内容有 /common/top-menu 中 th:fragment="main" 部分 替换
        </div>

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2></h2>
                <ol class="breadcrumb">
                    <li><a href="../index.html">首页</a></li>
                    <li><a>点单功能</a></li>
                    <li class="active"><strong>充值</strong></li>
                </ol>
            </div>
        </div>

        <!-- 主要内容部分 -->

        <div class="col-lg-12">
            <div class="top">
                <h4>点单功能</h4>
                <label for="foods">选择用户:</label>
                <select class="form-control" name="cusname" id="cusname" onchange="select();">
                    <option data-price="0" value="0" selected="selected">--请选择--</option>
                    <option v-for="item in cusnames" :value="item.id">{{item.cusname}}</option>

                </select>
                <input onclick="submitData()" type="button" class="btn btn-sm btn-success" value="提交"/>
            </div>

            <p class="select form-group">
                <label for="foods">选择菜品:</label>
                <select class="form-control" name="cusname" id="foods" onchange="select();">
                    <option data-price="0" value="0" selected="selected">--请选择--</option>
                    <option v-for="item in dishs" :data-price="item.dishmoney" :value="item.id">{{item.dishname}}</option>
                    <!--<option data-price="121" value="1">12312312</option>
                    <option data-price="122" value="2">1231232</option>
                    <option data-price="123" value="3">1231232</option>-->
                </select>
                <label for="price">单价:</label>
                <input class="form-control" id="price" type="text" value="0" disabled="disabled"/>
                <label for="num">输入数量:</label>
                <input class="form-control" id="num" type="number" min="0" max="99"/>
                <span class="add-item" onclick="addItem()"><i class="glyphicon glyphicon-plus"></i></span>
            </p>
            <ol id="foods-box">

            </ol>
        </div>

    </div>
</div>

<div th:include="/common/footer :: js">
    这部分是引入js代码
</div>
<script type="text/javascript">
    function select() {
        console.log(12)
        var price = $('#foods').find('option:selected').attr('data-price');
        $('#price').val(price)
    }
    function addItem(){
        var food = $('#foods').val();
        if(food==0){
            $('#foods').focus();
            return
        }
        var foodText = $('#foods').find('option:selected').html();
        var price = $('#foods').find('option:selected').attr('data-price');
        var num = $('#num').val();
        if(num==0){
            $('#num').focus();
            return
        }
        var html = '';
        html += '<li>'
            +'<form class="form-data">'
            +'<div class="form-group">'
            +'<input name="dishid" class="form-control food" type="hidden" value="'+food+'"/>'
            +'<label for="price">已选菜名:</label>'
            +' <input name="dishname" class="form-control" type="text" value="'+foodText+'"  readonly="readonly"/>'
            +' <label for="price">单价:</label>'
            +' <input name="dishmoney" class="form-control price" type="text" value="'+price+'"  readonly="readonly"/>'
            +' <label for="num">已选数量:</label> '
            +' <input name="number" class="form-control num" type="number" value="'+num+'"/>'
            +'<span class="remove-item" onclick="removeItem(this)"><i class="glyphicon glyphicon-remove"></i></span>'
            +'</div>'
            +'</form>'
            +'</li>';

        $('#foods-box').append(html);
    }
    function removeItem(ele){
        $(ele).parents('li').remove();
    }

    var submitData = function (){
        var today = new Date();
        var sendData = {
            cusname:"need fix",
            date:today.getFullYear()+"-"+(today.getMonth()+1)+"-"+today.getDate(),
            dbills:[]
        };
        $(".form-data").each(function (){
            var array = $(this).serializeArray();
            var temp = {};
            for (var i in array){
                temp[array[i].name] = array[i].value;
            }
            sendData.dbills.push(temp);
        });
        debugger;
        if(sendData.dbills.length === 0){
            ToastrUtils.show("失败","請選擇菜餚",9);
            return;
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            url: "/api/bill/save",
            data: JSON.stringify(sendData),
            success: function (data) {
                if (data.id) {
                    ToastrUtils.show("成功", "操作成功", 1);
                    $('#foods-box').html("");
                }
                else ToastrUtils.show("失敗", "操作失敗", 9);
            }
        });
    }

    var App = new Vue({
        el:"#wrapper",
        data:{
            dishs:[],
            cusnames:[]
        },
        created:function () {
            this.getDish();
            this.getCusname();
        },
        methods: {
            getDish: function () {
                var self = this;
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json",
                    url: "/api/menu/search",
                    success: function (data) {
                        self.dishs = data;
                    }
                });
            },
            getCusname:function () {
                var self = this;
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json",
                    url: "/api/customer/search",
                    success: function (data) {
                        self.cusnames = data;
                    }
                });
            }
        }



    }

</script>
</body>
</html>
