<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head th:include="/common/header :: main">
    这部分是html头
</head>

<body>
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu" th:include="/common/eside-menu :: employee" th:with="active='e1|d2'">
                这部分内容有 /common/side-menu 中 th:fragment="admin" 部分 替换
            </ul>

        </div>
    </nav>


    <div id="page-wrapper" class="gray-bg">
        <!-- 导航条 -->
        <div class="row border-bottom" th:include="/common/top-menu :: main">
            这部分内容有 /common/top-menu 中 th:fragment="main" 部分 替换
        </div>

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2></h2>
                <ol class="breadcrumb">
                    <li><a href="../index.html">首页</a></li>
                    <li><a>用户注册</a></li>
                    <li class="active"><strong>添加</strong></li>
                </ol>
            </div>
            <div class="col-lg-2"></div>
        </div>

        <!-- 主要内容部分 -->
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>用户注册</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Config option 1</a>
                            </li>
                            <li><a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal">
                        <p>请输入注册信息.</p>
                        <div class="form-group"><label class="col-lg-1 control-label">姓名</label>

                            <div class="col-lg-11"><input v-model="formData.cusname" type="text" placeholder="姓名" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-1 control-label">身份证</label>

                            <div class="col-lg-11"><input v-model="formData.cusidcard" type="text" placeholder="身份证" class="form-control"/></div>
                        </div>
                        <div class="form-group"><label class="col-lg-1 control-label">手机</label>

                            <div class="col-lg-11"><input  v-model="formData.cuscellphone" type="text" placeholder="手机" class="form-control"/></div>
                        </div>
                        <div class="form-group"><label v-model="formData.cusname" class="col-lg-1 control-label">充值金额</label>

                        <div class="col-lg-11"><input v-model="formData.money" type="text" placeholder="充值金额" class="form-control"/></div>
                    </div>
                        <div class="form-group">
                            <div class="col-lg-offset-1 col-lg-11">
                                <button v-on:click="submitData()" class="btn btn-sm btn-white" type="submit">注册</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:include="/common/footer :: js">
    这部分是引入js代码
</div>
<script th:inline="javascript">
    /*<![CDATA[*/

    var App = new Vue({
        //作用域，vue的所有数据与方法只在作用域内有效
        el:"#wrapper",
        //数据,v-model可以双向绑定这里的数据，:/v-bind: +标签可以单向绑定数据如 :href，{{dataname}}绑定文本内容
        data:{
            //这个是对应搜索条件
            conditions:{
                cusname:null,
                cusidcard:null,
                cuacellphone:null,
                money:null
            },
            //这个是对应表格
            tableData:[],
            formData:{},
            formName:"",
            isCreate:true
        },
        //计算属性
        computed:{},
        //生命周期函数-创建时
        created:function () {
            this.initFormData();
            this.getData();
        },
        //生命周期函数-挂载完成时即数据初始化完成
        mounted:function () {},
        //方法，html中调用v-on:click
        methods:{
            initFormData:function () {
                this.formData = {
                    cusname:null,
                    cusidcard:null,
                    cuacellphone:null,
                    money:null//这里多添加参数没事的，比如这个money，但是不能少
                }
            },
            getData:function () {
                var self = this;
                $.ajax({
                    type:"POST",
                    dataType:"json",
                    url:baseUrl + "/api/customer/search",
                    data:self.conditions,
                    success:function (data) {
                        self.tableData = data;
                    }
                });
            },
            showSmModal:function () {
                this.initFormData();
                this.formName = "添加用户";
                this.isCreate = true;
                $("#sm-modal").modal("show");
            },
            showUpdateModel:function (obj) {
                this.formData = obj;
                this.formName = "修改信息";
                this.isCreate = false;
                $("#sm-modal").modal("show");
            },
            submitData:function () {
                var self = this;
                var url = baseUrl + (self.isCreate?"/api/customer/save":"/api/customer/update");
                $.ajax({
                    type:"POST",
                    dataType:"json",
                    contentType: "application/json",
                    url:url,
                    data: JSON.stringify(self.formData),
                    success:function (data) {
                        self.updateTableData(data);
                        $("#sm-modal").modal("hide");
                        ToastrUtils.show("成功","操作成功",1);
                    }
                });
            },
            updateTableData:function (data) {
                var self = this;
                if (self.isCreate) self.tableData.push(data);
                else $.extend(true,self.formSource,data);
            },
            deleteData:function (item,index) {
                var self = this;
                SweetAlertUtils.show().sure(function () {
                    $.ajax({
                        type:"DELETE",
                        dataType:"json",
                        contentType: "application/json",
                        url:baseUrl + "/api/customer/delete/" + item.id,
                        success:function (data) {
                            if (data.success) {
                                self.tableData.splice(index, 1);
                                ToastrUtils.show("成功","操作成功",1);
                            }else {
                                alert(data.message);
                                ToastrUtils.show("失败","操作失败",9);
                            }
                        }
                    });
                });
            }
        }
    })



    /*]]>*/
</script>
</body>
</html>
