<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/common/header :: main">
    这部分是html头
</head>

<body>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="aside-menu" th:include="/common/aside-menu :: admin">

                </ul>

            </div>
        </nav>


        <div id="page-wrapper" class="gray-bg">
            <!-- 导航条 -->
            <div class="row border-bottom" th:include="/common/top-menu :: main">
                这部分内容有 /common/top-menu 中 th:fragment="main" 部分 替换
            </div>

            <!-- 主要内容部分 -->
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center m-t-lg">
                            <h1>
                                首页
                            </h1>
                            <small>
                                这部分是你主要修改的位置.from表单或者表格查询之类.
                            </small>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div th:include="/common/footer :: js">
        这部分是引入js代码
    </div>

</body>
</html>
