<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/common/header :: main">
    这部分是html头
</head>

<body>
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu" th:include="/common/cside-menu :: customer" th:with="active='cu1|f1'">
                这部分内容有 /common/side-menu 中 th:fragment="admin" 部分 替换
            </ul>

        </div>
    </nav>


    <div id="page-wrapper" class="gray-bg">
        <!-- 导航条 -->
        <div class="row border-bottom" th:include="/common/top-menu :: main">
            这部分内容有 /common/top-menu 中 th:fragment="main" 部分 替换
        </div>

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2></h2>
                <ol class="breadcrumb">
                    <li><a href="../index.html">首页</a></li>
                    <li><a>xx管理</a></li>
                    <li class="active"><strong>添加xx</strong></li>
                </ol>
            </div>
            <div class="col-lg-2"></div>
        </div>

        <!-- 主要内容部分 -->
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>账单查询</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="#">Config option 1</a>
                                    </li>
                                    <li><a href="#">Config option 2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <table class="table">
                                <thead>
                                <tr>
                                    <th>账单编号</th>
                                    <th>客户姓名</th>
                                    <th>下单时间</th>
                                    <th>花费金额</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>173101</td>
                                    <td>客户一</td>
                                    <td>2017-5-01</td>
                                    <td>89.1</td>
                                    <td> <button type="button" class="btn btn-primary btn-xs">详情</button></td>
                                </tr>
                                <tr>
                                    <td>173101</td>
                                    <td>客户一</td>
                                    <td>2017-5-01</td>
                                    <td>50</td>
                                    <td> <button type="button" class="btn btn-primary btn-xs">详情</button></td>
                                </tr>
                                <tr>
                                    <td>173101</td>
                                    <td>客户一</td>
                                    <td>2017-5-02</td>
                                    <td>120</td>
                                    <td> <button type="button" class="btn btn-primary btn-xs">详情</button></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div th:include="/common/footer :: js">
    这部分是引入js代码
</div>

</body>
</html>
